.definitions {
  margin-bottom: 120px;

  &__title {
    margin: 0px !important;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    color: var(--page-color-dark-blue);
    max-width: 600px;
    width: 100%;

    &_red {
      color: var(--page-color-red);
    }
  }

  &__wrapper {
    margin-top: 50px;
    display: flex;
    gap: 36px;
  }

  &__container {
    position: relative;
    flex-basis: calc(50% - 18px);
  }

  &__img {
    position: relative;
    height: 484px;
    width: 100%;
    margin-bottom: -200px;
    z-index: 5;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &__content {
    position: relative;
    width: calc(100% - 16px);
    min-height: 340px;
    padding: 40px 40px 60px 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--page-color-link);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--page-color-white);
    box-shadow: 0px 1px 3px 0px rgba(0, 50, 75, 0.02),
      0px 3px 7px 0px rgba(0, 50, 75, 0.03),
      9px 5px 15px 0px rgba(0, 50, 75, 0.03),
      13px 11px 29px 0px rgba(0, 50, 75, 0.04),
      3px 31px 80px 0px rgba(0, 50, 75, 0.06);
    z-index: 10;

    & ul {
      padding-left: 24px;
      margin: 10px 0px 0px 0px !important;

      & li {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  &__text-red {
    font-weight: 700;
    color: var(--page-color-red);
  }

  &__text-black {
    font-weight: 700 !important;
    color: var(--page-color-black);
  }
}

@media screen and (max-width: 960px) {
  .definitions {
    margin: 50px 0px;
  }

  .definitions__wrapper {
    margin-top: 30px;
    gap: 26px;
  }

  .definitions__container {
    flex-basis: calc(50% - 13px);
  }

  .definitions__content {
    padding: 40px 25px;
  }
}

@media screen and (max-width: 767px) {
  .definitions {
    margin: 36px 0px;

    &__title {
      font-size: 28px;
      line-height: 32px;
    }

    &__wrapper {
      flex-direction: column;
    }

    &__content {
      padding: 30px 20px;
      width: 100%;
      min-height: auto;
    }

    &__img {
      max-height: 380px;
      height: 100%;
      margin-bottom: 0px;

      & img {
        position: relative;
        top: auto;
        left: auto;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .definitions__title {
    font-size: 20px;
    line-height: 24px;
  }

  .definitions__wrapper {
    margin-top: 24px;
    gap: 24px;
  }

  .definitions__content {
    padding: 24px 16px;
  }

  .definitions__img {
    max-height: 360px;
  }
}
