.criteria {
  margin-bottom: 120px;

  &__wrapper {
    padding: 80px;
    background-color: var(--page-color-light-purple);
    border-radius: 10px;
  }

  &__title {
    margin: 0px !important;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    color: var(--page-color-dark-blue);

    &_red {
      color: var(--page-color-red);
    }
  }

  &__subtitle {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: right;
    color: var(--page-color-red);
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
  }

  &__card {
    flex-basis: calc(50% - 25px);
    gap: 20px;
    border-radius: 5px;
    padding: 50px;
    background-color: var(--page-color-white);
    box-shadow: 0px 1px 3px 0px rgba(0, 50, 75, 0.02),
      0px 3px 7px 0px rgba(0, 50, 75, 0.03),
      9px 5px 15px 0px rgba(0, 50, 75, 0.03),
      13px 11px 29px 0px rgba(0, 50, 75, 0.04),
      3px 31px 80px 0px rgba(0, 50, 75, 0.06);

    &_title {
      font-size: 18px;
      font-weight: 700;
      line-height: 23.4px;
      color: var(--page-color-black);
      margin-bottom: 16px;
    }

    & ul {
      padding-left: 20px;

      & li {
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20.8px;
        color: var(--page-color-black);

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: var(--page-color-link);

    &_black {
      font-weight: 700;
      color: var(--page-color-black);
    }

    &_red {
      color: var(--page-color-red);
    }
  }
}
