.program {
  margin-bottom: 120px;

  &__title {
    margin: 0px !important;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    color: var(--page-color-dark-blue);

    &_red {
      color: var(--page-color-red);
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    color: var(--page-color-dark-blue);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__row {
    display: flex;
    gap: 50px;
  }

  &__content {
    display: flex;
    flex-basis: calc(50% - 25px);

    &_end {
      align-self: flex-end;
    }
  }

  &__card {
    display: flex;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 50, 75, 0.02),
      0px 3px 7px 0px rgba(0, 50, 75, 0.03),
      9px 5px 15px 0px rgba(0, 50, 75, 0.03),
      13px 11px 29px 0px rgba(0, 50, 75, 0.04),
      3px 31px 80px 0px rgba(0, 50, 75, 0.06);

    &_img {
      width: 60px;
      height: 60px;
    }

    &_wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &_title {
      font-size: 18px;
      font-weight: 700;
      line-height: 23.4px;
      color: var(--page-color-black);
    }

    &_text {
      flex-grow: 1;
      font-size: 14px;
      font-weight: 400;
      line-height: 17.5px;
      margin: 0px !important;
      color: var(--page-color-link);
    }

    &_link {
      font-size: 14px;
      font-weight: 400;
      line-height: 17.5px;
      margin: 0px !important;
      height: 26px;
      color: rgba(2, 82, 122, 1);
      background-color: transparent !important;
      padding: 0px;
      border: none !important;
      text-decoration: underline;
      outline: none !important;
      white-space: nowrap;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        background-color: transparent !important;
        color: var(--page-color-red) !important;
      }

      &:active {
        background-color: transparent !important;
        color: var(--page-color-dark-blue) !important;
      }
    }

    &_btn {
      display: flex;
      align-items: center;
      gap: 30px;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      margin: 0px !important;
      height: 26px;
      color: var(--page-color-red);
      background-color: var(--page-color-white);
      border-radius: 10px;
      padding: 10px 0px 0px 0px;
      border: none !important;
      white-space: normal;
      outline: none !important;
      text-transform: uppercase;
      cursor: pointer;
      letter-spacing: 0.3px;
      transition: color 0.3s ease;

      &-center {
        margin: 0px auto !important;
      }

      & svg path {
        transition: stroke 0.3s ease;
      }

      &:hover {
        background-color: var(--page-color-white) !important;
        color: var(--page-color-ligth-blue) !important;

        & svg path {
          stroke: var(--page-color-ligth-blue);
        }
      }

      &:active {
        background-color: var(--page-color-white) !important;
        color: var(--page-color-black) !important;

        & svg path {
          stroke: var(--page-color-black);
        }
      }
    }
  }

  &__modal-header {
    display: flex;
    justify-content: space-between;
  }

  &__modal-row {
    display: flex;
    gap: 20px;

    & img {
      width: 36px;
      height: 36px;
    }
  }

  &__modal-content {
    margin-bottom: 10px;

    & ul,
    ol {
      margin: 0px !important;
    }
  }

  &__modal-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    color: var(--page-color-black);
  }

  &__modal-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: var(--page-color-black);
    margin: 0px !important;
  }

  &__popap-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__popap-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__popap-image {
    width: 60px;
    height: 60px;

    &-l {
      width: 120px;
      height: 120px;
    }
  }

  &__popap-title {
    margin: 0px !important;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: center;
    color: var(--page-color-black);

    &-db {
      color: var(--page-color-dark-blue);
    }
  }

  &__popap-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__popap-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: left;
    color: var(--page-color-black);

    &-l {
      font-size: 18px;
      line-height: 23.8px;
    }

    &-gray {
      text-align: center;
      color: var(--page-color-link);
    }
  }

  &__popap-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
    margin: 0px !important;
    color: var(--page-color-white);
    background-color: var(--page-color-dark-blue);
    border-radius: 5px;
    padding: 18px 30px;
    border: 1px solid var(--page-color-dark-blue);
    height: 54px;
    white-space: nowrap;
    outline: none !important;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.3px;
    transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease;

    & svg {
      width: 19px;
      height: 19px;

      & path {
        transition: all 0.3s ease;
      }
    }

    &:hover {
      background-color: var(--page-color-red) !important;
      color: var(--page-color-white) !important;
      border: 1px solid var(--page-color-red) !important;
    }

    &:active {
      background-color: var(--page-color-white) !important;
      color: var(--page-color-dark-blue) !important;
      border: 1px solid var(--page-color-dark-blue) !important;

      & svg path {
        stroke: var(--page-color-dark-blue);
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .program {
    margin: 50px 0px;

    &__wrapper {
      gap: 30px;
    }

    &__row {
      flex-direction: column;
      gap: 30px;

      &:first-child {
        gap: 16px;
      }
    }

    &__content {
      flex-basis: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .program {
    margin: 36px 0px;

    &__title {
      font-size: 28px;
      line-height: 32px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 26px;
    }

    &__card {
      padding: 26px;
    }
  }
}

@media screen and (max-width: 576px) {
  .program__title {
    font-size: 20px;
    line-height: 24px;
  }

  .program__subtitle {
    font-size: 16px;
    line-height: 20.8px;
  }

  .program__row {
    gap: 16px;

    &:first-child {
      gap: 8px;
    }
  }

  .program__wrapper {
    gap: 16px;
  }

  .program__card {
    padding: 16px;

    &_title {
      font-size: 16px;
      line-height: 21.6px;
    }

    &_btn {
      padding-top: 6px;

      & svg {
        display: none;
      }
    }
  }

  .program__popap-image {
    width: 60px;
    height: 60px;
  }

  .program__popap-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 21.5px;
  }

  .program__popap-text-l {
    font-size: 14px;
    line-height: 18.5px;
  }

  .program__modal-title {
    font-size: 16px;
    line-height: 21.6px;
  }
}

@media screen and (max-width: 400px) {
  .program__card {
    flex-direction: column;
    align-items: center;

    &_title {
      text-align: center;
    }

    &_btn {
      align-self: center;
    }
  }
}
